<!DOCTYPE html>
<html>
<head>
    <title>SmartBin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<nav>
    <div class="logo">♻ SmartBin</div>

    <div class="links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</nav>

<!-- HERO -->
<section class="hero">
    <h1>SMART DUSTBIN</h1>

    <p>
        Keep the place clean. Be aware to protect your environment.
        Protect life!
    </p>

    <a href="/login">
        <button class="btn">safe environment!
             🚀</button>
    </a>
</section>

</body>
</html>